# List Methods

# 1) append()

In [30]:
#list methods

list_1=["one","two","three","four","five"]
print(list_1)

['one', 'two', 'three', 'four', 'five']

In [31]:
# append() : Adds an element at the end of the list

list_1.append("two")
print(list_1)

['one', 'two', 'three', 'four', 'five', 'two']

# 2) copy()

In [32]:
# copy() : Returns a copy of the list

list_copy = list_1.copy()
print(list_copy)

['one', 'two', 'three', 'four', 'five', 'two']

# 3) count()

In [33]:
# count() : Returns the number of elements with the specified value

ct = list_1.count("two")
print(ct)

2

# 4) extend()

In [34]:
# extend() : Add the elements of a list (or any iterable), to the end of the current list

cars_1=["BMW","MINI","Rolls-Royce"]
cars_2=["Volkswagen","Bentley","Porsche"]

cars_1.extend(cars_2)
print(cars_1)

['BMW', 'MINI', 'Rolls-Royce', 'Volkswagen', 'Bentley', 'Porsche']

# 5)  index()

In [35]:
# index() : Returns the index of the first element with the specified value

print(cars_1)
print(cars_1.index("Volkswagen"))

['BMW', 'MINI', 'Rolls-Royce', 'Volkswagen', 'Bentley', 'Porsche']
3

# 6) insert()

In [36]:
# insert() : Adds an element at the specified position

print(cars_2)
cars_2.insert(1,"Lamborghini")
print(cars_2)

['Volkswagen', 'Bentley', 'Porsche']
['Volkswagen', 'Lamborghini', 'Bentley', 'Porsche']

# 7) pop()

In [37]:
# pop() : Removes the element at the specified position

print(cars_2)
cars_2.pop(1)
print(cars_2)

['Volkswagen', 'Lamborghini', 'Bentley', 'Porsche']
['Volkswagen', 'Bentley', 'Porsche']

# 8) remove()

In [38]:
# remove() : Removes the item with the specified value

print(cars_1)
cars_1.remove("Bentley")
print(cars_1)

['BMW', 'MINI', 'Rolls-Royce', 'Volkswagen', 'Bentley', 'Porsche']
['BMW', 'MINI', 'Rolls-Royce', 'Volkswagen', 'Porsche']

# 9) reverse()

In [39]:
# reverse() : Reverses the order of the list

cars_1.reverse()
print(cars_1)

['Porsche', 'Volkswagen', 'Rolls-Royce', 'MINI', 'BMW']

# 10) sort()

In [40]:
# sort() : Sorts the list

cars_1.sort()
print(cars_1)

['BMW', 'MINI', 'Porsche', 'Rolls-Royce', 'Volkswagen']

# 11) clear()

In [41]:
# clear() : Removes all the elements from the list

print(list_1)
list_1.clear()
print(list_1)

['one', 'two', 'three', 'four', 'five', 'two']
[]