# Sets Methods

# 1) add()

In [1]:
# add() : Adds an element to the set

colours = {"red", "green", "blue"}
colours.add("purple")
print(colours)

{'blue', 'red', 'purple', 'green'}

# 2) clear()

In [2]:
# clear() : Removes all the elements from the set

colours.clear()
print(colours)

set()

# 3) copy()

In [3]:
# copy() : Returns a copy of the set

cars_1 = ["BMW","MINI","Rolls-Royce"]
cars_cpy = cars_1.copy()

print(cars_cpy)

['BMW', 'MINI', 'Rolls-Royce']

# 4) difference()

In [4]:
# difference() : Returns a set containing the difference between two or more sets

a = {"tony", "thor", "peter"}
b = {"thor", "quill", "gamora"}

set_diff = a.difference(b) 

print(set_diff)

{'peter', 'tony'}

# 5) difference_update()

In [5]:
# difference_update() : Removes the items in this set that are also included in another, specified set

a.difference_update(b) 
print(a)

{'peter', 'tony'}

# 6) discard()

In [6]:
# discard() : Remove the specified item

avengers = {"thor", "quill", "gamora","tony","nebula","loki"}
print(avengers)
avengers.discard("quill")
print(avengers)

{'nebula', 'loki', 'gamora', 'quill', 'thor', 'tony'}
{'nebula', 'loki', 'gamora', 'thor', 'tony'}

# 7) intersection()

In [7]:
# intersection() : Returns a set, that is the intersection of two other sets

a = {"tony", "thor", "peter"}
b = {"thor", "quill", "gamora"}

comn = a.intersection(b)

print(comn)

{'thor'}

# 8) intersection_update()

In [8]:
# intersection_update() : Removes the items in this set that are not present in other, specified set(s)

a = {"tony", "thor", "peter"}
b = {"thor", "quill", "gamora"}

a.intersection_update(b)
print(a)

{'thor'}

# 9) isdisjoint()

In [9]:
# isdisjoint() : Returns whether two sets have a intersection or not

a = {"tony", "thor", "peter"}
b = {"hulk", "quill", "gamora"}

print(a.isdisjoint(b))

True

In [10]:
c = {"hulk", "wanda", "dr.strange"}
print(b.isdisjoint(c))

False

# 10) issubset()

In [11]:
# issubset() : Returns whether another set contains this set or not

gotg = {"gamora", "quill", "groot"}
avengers = {"tony","thor","hulk", "quill", "gamora","groot"}

print(gotg.issubset(avengers))

True

# 11) issuperset()

In [13]:
# issuperset() : Returns whether this set contains another set or not

gotg = {"gamora", "quill", "groot"}
avengers = {"tony","thor","hulk", "quill", "gamora","groot"}

print(avengers.issuperset(gotg))

True

# 12) pop()

In [14]:
# pop() : Removes an element from the set

avengers = {"tony","thor","hulk", "quill", "gamora","groot"}

avengers.pop()
print(avengers)

{'gamora', 'quill', 'thor', 'tony', 'groot'}

# 13) remove()

In [15]:
# remove() : Removes the specified element

avengers = {"tony","thor","hulk", "quill", "gamora","groot"}

avengers.remove("hulk")
print(avengers)

{'gamora', 'quill', 'thor', 'tony', 'groot'}

# 14) symmetric_difference()

In [16]:
# symmetric_difference() : Returns a set with the symmetric differences of two sets

a = {"tony", "thor", "peter"}
b = {"thor", "quill", "gamora"}

print(a.symmetric_difference(b))

{'gamora', 'peter', 'quill', 'tony'}

# 15) symmetric_difference_update()

In [21]:
# symmetric_difference_update() : inserts the symmetric differences from this set and another

a = {"cat", "dog", "elephant"}
b = {"lion", "tiger", "elephant"}

a.symmetric_difference_update(b)
print(a)

{'lion', 'dog', 'tiger', 'cat'}

# 16) union()

In [22]:
# union() : Return a set containing the union of sets

a = {"cat", "dog", "elephant"}
b = {"lion", "tiger", "elephant"}

print(a.union(b))

{'lion', 'tiger', 'elephant', 'cat', 'dog'}

# 17) update()

In [23]:
# update() : Update the set with the union of this set and others

a = {"tony", "thor", "peter"}
b = {"hulk", "quill", "gamora"}

a.update(b)
print(a)

{'hulk', 'gamora', 'quill', 'peter', 'thor', 'tony'}